# dependencies
/node_modules
/.pnp
.pnp.*

# build output
/.next/
out/
build/
dist/

# misc
.DS_Store
.env*
.vercel
*.pem
*.tsbuildinfo
next-env.d.ts

# Firebase secret keys (keep out of git)
firebase-admin-key.json
taste-of-nepal-3af40-a0c0f0c32a5c.json
